**/node_modules
**/dist
**/logs
**/Logs
*.zip
*.rar
**/*.zip
**/*.rar
*.accdb
*.text
*.bat
*.cmd
*.xlsx
*.xls
*.pdf
*.docx
*.doc
notes.sql
t.js
cmd
Backup
**/Documents
**/Chunks
**/Media
**/temp
**/pdf
**/*.har
.env
.env.development
.env.production
*.backup
*.backup*
*/*.exe



.claude
.cursorrules
.mcp.json
GEMINI.md
.windsurfrules
AGENTS.md
.opencode.json
Json

*.deleted
*.bak
tmp-*.json
*/.last-run.json
*.debug.json
outputs
audio-intelligence.db
